@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/*********** RESET ***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }
html {
  line-height: 1; }
ol, ul {
  list-style: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }
q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }
a img {
  border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }
/*********** END RESET ***************/


body {
  background: url(../wavegrid.png) repeat;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  font-size: 15px; }


h1 {
  font-size: 3em;
  padding: 0 0 1em;
  text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 0; }


h2 {
  font-size: 2em;
  padding: 0.8em 0;
  line-height: 1.2em;
  text-shadow: rgba(0, 0, 0, 1) 2px 2px 3px; }


#main {
  margin: 0 auto;
  padding: 50px 0 100px;
  width: 850px;
  position: relative; }

.instagram {
  position: relative; }


  img.instagram-image {
    width: 200px;
    height: 200px;
  }


  a {
    text-decoration: none;
    color: #888;
  }
  
  a:hover {
    color: #000;
  }
  
  figure {
    width:200px;
    float: left;
    margin: 0 5px;
  }
  
  figcaption {
    min-height: 35px;
  }
  
  figcaption:after {
    content: "";
    clear: both;
    display: table;
  }
  
  figcaption i {
    font-size: 0.8em;
  }
  
  figcaption i.likes {
    float: left;
  }
  
    figcaption i.likes:before {
      color: red;
      width: 10px;
    }
  
  
  
  figcaption i.user {
    float:right;
    
    }
